*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow:hidden;
    }


    /* .videoCall{
        display: flex;
    }

.Translate{
    margin-left: 10px;
    border-radius:5px;
} */

